body {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5cm;
    margin: 0 1cm;
}

#main-heading,
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    color: rgb(199, 30, 30);
}

.box {
    text-align: center;
}

.box p {
    font-size: 38px;
    font-weight: bold;
    font-style: italic;
    line-height: 0.3cm;
}

#italicised {
    font-weight: normal;
    font-size: 30px;
    line-height: 1cm;
}

#empty-space {
    height: 100px;
}

ul,
ol {
    margin-left: 0.75cm;
}

a {
    color: rgb(199, 30, 30);
}

img {
    border: 5px solid rgb(158, 5, 5);
}

.note {
    background-color: rgba(199, 30, 30, 0.816);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(158, 5, 5);
    padding: 8px 16px;
    display: inline-block;
}